    <!-- Footer -->
    <footer class="py-5 bg-dark mt-5">
        <div class="container">
            <p class="m-0 text-center text-white small">Copyright &copy; CampUp 2018</p>
        </div>
    </footer>
      
    
    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
    <!-- Font Awesome JavaScript -->
    <script src="/js/fontawesome.min.js"></script>
    
    <!-- Custom JavaScript -->
    <script src="/js/main.js"></script>
    
    </body>
</html>