    <!-- Footer -->
    <footer class="py-5 bg-dark fixed-bottom">
        <div class="container">
            <p class="m-0 text-center text-white small">Copyright &copy; CampUp 2018</p>
        </div>
    </footer>
      
    
    
    
    
    <!-- JQuery and Popper.js JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="/vendor/jquery/jquery.min.js"></script>
    
    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    
    <!-- Font Awesome JavaScript -->
    <script src="/js/fontawesome.min.js"></script>
    
    <!-- Custom JavaScript -->
    <script src="/js/main.js"></script>
    
    </body>
</html>