<% include ./partials/header %>
    
  <header>
    <div id="landing-header">
 		  <h1>Welcome to CampUp!</h1>
		  <a href="/campground" class="btn btn-lg btn-success">Get Started!</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </header>

<% include ./partials/footer %>

