<% include ../partials/header %>

    <div class="container text-center">
        <h1>Welcome to CampUp!</h1>
        <p>View our hand-picked campgrounds from all over the world</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/campground/new">Share your own campground</a>
        </p>
        <form action="/campground" method="GET" class="form-inline justify-content-center">
            <input class="form-control"type="text" name="search" placeholder="campground search..."></input>
            <input class="btn btn-defeault" type="submit" value="search"></input>
        </form>
        <p>
            <a class="btn btn-secondary btn-sm mt-3" href="/campground">Reset search</a>
        </p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Check out these campgrounds!</h3>
            </div>
        </div>
        <div class="row text-center" style="display:flex; flex-wrap:wrap">
            <% campgrounds.forEach(function(campground){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="<%= campground.image %>">
                        <div class="caption">
                            <h4><%= campground.name %></h4>
                        </div>
                        <p>
                            <a href="/campground/<%= campground._id %>" class="btn btn-primary">More Info</a>
                        </p>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
    
<% include ../partials/footer %>