html, body {
    margin:0;
    padding:0;
}

#landing-header {
    text-decoration: none;
}

.thumbnail img {
    width:100%;
}

.thumbnail {
    padding:0;
}

.delete-form {
    display: inline;
}

.login,
.signup {
    width: 30%;
    margin:30px auto;
}


#landing {
    text-align: center;
    color:white;
    width: 100%;
    height: 1080px;
    background-image: url("https://images.unsplash.com/photo-1477512076069-d31eb021716f?auto=format&fit=crop&w=2250&q=80");
    background-repeat: no-repeat;
    background-position: center;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}